@import '../../styles/tips';

.mat-sidenav-container {
  flex-grow: 1;
}

.mat-sidenav {
  width: 200px;
}

.mat-nav-list .mat-list-item {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 500;
}

.mat-nav-list .mat-icon {
  width: 56px;
}
