<md-sidenav-container>
  <md-sidenav mode="side" class="mat-elevation-z6"
    [opened]="!(isLoading$ | async) && (this.authService.isLoggedIn$ | async)">
    <div class='tutorial-blanket'></div>
    <md-nav-list>
      <md-list-item routerLink='/'>
        <md-icon>home</md-icon>
        <span>Home</span>
      </md-list-item>
      <md-list-item routerLink='/decks'>
        <md-icon>view_module</md-icon>
        <span>Decks</span>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class='tutorial-blanket'></div>
  <cardinal-loading-spinner [isLoading$]="isLoading$">
    <router-outlet #outlet
      (activate)='_isLoading$.next(false)'
      (deactivate)='_isLoading$.next(true)'>
    </router-outlet>
  </cardinal-loading-spinner>
</md-sidenav-container>

