<div class="main-container">
  <h1 md-dialog-title>{{data.title}}</h1>
  <div md-dialog-content class="main-content">
    <md-tab-group>
      <md-tab label="Front">
        <div>
          <md-input-container>
            <textarea mdInput rows="8" value="{{front$ | async}}" (input)="onFrontInput($event)"></textarea>
          </md-input-container>
          <markdown data="{{front$ | async}}"></markdown>
        </div>
      </md-tab>
      <md-tab label="Back">
        <div>
          <md-input-container>
            <textarea mdInput rows="8" value="{{back$ | async}}" (input)="onBackInput($event)"></textarea>
          </md-input-container>
          <markdown data="{{back$ | async}}"></markdown>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
  <div md-dialog-actions>
    <button md-button [md-dialog-close]="dialogResult.Cancel">Cancel</button>
    <button md-button [md-dialog-close]="dialogResult.Save">Save</button>
  </div>
</div>