<md-card class='container'>
  <md-card-content>
    <md-tab-group>
      <md-tab label='Front'>
        <div class='ng-material-tab-body'>
          <markdown data="{{front$ | async}}"></markdown>
        </div>
      </md-tab>
      <md-tab label='Back'>
        <div class='ng-material-tab-body'>
          <markdown data="{{back$ | async}}"></markdown>
        </div>
      </md-tab>
    </md-tab-group>
  </md-card-content>
  <md-card-actions>
    <a md-button (click)='this.onEdit()'>Edit</a>
    <a md-button (click)='this.onDelete()'>Delete</a>
  </md-card-actions>
</md-card>