<cardinal-loading-spinner [isLoading$]="isLoading$">
  <div class='centered-container'>
    <div class='centered-content'>
      <md-card>
        <md-card-title>Reset Password</md-card-title>
        <md-card-content>
          <div class='main-container'>
            <div class='input-with-icon'>
              <md-icon>email</md-icon>
              <md-form-field>
                <input
                  mdInput type='text' placeholder='email'
                  [formControl]='emailFormControl'
                  (input)='onEmailInput($event)'>
                  <md-error *ngIf="emailFormControl.hasError('required')">
                    required
                  </md-error>
                  <md-error *ngIf="!emailFormControl.hasError('required') && emailFormControl.hasError('email')">
                    not a valid email address
                  </md-error>
              </md-form-field>
            </div>
            <button
              class='main-button' md-raised-button color='primary'
              [disabled]='!(isValid$ | async)'
              (click)='resetPassword()'>
              Reset password
            </button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</cardinal-loading-spinner>