<md-card>
  <md-card-content>
    <div class='main-container'>
      <button
        md-raised-button class='google' color='accent'
        (click)='signInWithGoogle()'>
        Sign up with Google
      </button>
      <button
        md-raised-button class='facebook' color='accent'
        (click)='signInWithFacebook()'>
        Sign up with Facebook
      </button>
      <button
        md-raised-button class='twitter' color='accent'
        (click)='signInWithTwitter()'>
        Sign up with Twitter
      </button>
      <div class='mat-caption'>or sign up with email</div>
      <div class='input-with-icon'>
        <md-icon>email</md-icon>
        <md-form-field>
          <input mdInput type='text' placeholder='email'>
        </md-form-field>
      </div>
      <div class='input-with-icon'>
        <md-icon>lock</md-icon>
        <md-form-field>
          <input mdInput type='password' placeholder='password'>
        </md-form-field>
      </div>
      <button class='sign-up-button' md-raised-button color='primary'>Sign up</button>
    </div>
  </md-card-content>
</md-card>