<cardinal-loading-spinner [isLoading$]='isLoading$'>
  <div class='centered-container'>
    <div class='centered-content'>
      <div class='content-list'>
        <div *ngFor='let deck of emptyIfNull(decks$ | async).toArray()'>
          <cardinal-deck-card [deck]='deck'></cardinal-deck-card>
        </div>
      </div>
      <div class='new-button-container'>
        <button md-fab class='new-button' (click)='this.onNewDeck()'><md-icon>add</md-icon></button>
      </div>
    </div>
  </div>
</cardinal-loading-spinner>
