<md-card>
  <md-card-title>
    {{deck.name}}
  </md-card-title>
  <md-card-subtitle>
    <span>{{count$ | async}}</span>
    <span [ngPlural]="(count$ | async) || ''">
      <ng-template ngPluralCase="=1">card</ng-template>
      <ng-template ngPluralCase="other">cards</ng-template>
    </span>
  </md-card-subtitle>
  <md-card-content>
    {{deck.description}}
  </md-card-content>
  <md-card-actions>
    <a md-button>Review</a>
    <a md-button routerLink='/deck/{{deck.deckId}}'>View</a>
    <a md-button>Edit</a>
    <a md-button>Delete</a>
  </md-card-actions>
</md-card>