<md-toolbar color="primary" class="ng-material-nav-toolbar mat-elevation-z6">
  <div class='tutorial-blanket'></div>
  <button md-button class="ng-material-app-title" routerLink='/'>{{title}}</button>
  <span class="ng-material-flex-spacer"></span>
  <button disabled="{{isLoading$ | async}}" md-button routerLink='/'>Home</button>
  <div [ngSwitch]='authService.isLoggedIn$ | async'>
    <button
      *ngSwitchCase='false'
      disabled="{{isLoading$ | async}}"
      md-button
      routerLink='/sign-in'>
      Sign in
    </button>
    <button
      *ngSwitchCase='true'
      disabled="{{isLoading$ | async}}"
      md-button
      (click)='onSignOut()'>
      Sign out
    </button>
  </div>
</md-toolbar>
