<!--
<div class="{{'tap-target background ' + (tapTargetState$ | async)}}">
</div>
<div class="{{'tap-target foreground ' + (tapTargetState$ | async)}}">
</div>
-->

<div class="tap-target background" [@tapTargetBackgroundState]="tapTargetState$ | async">
</div>
<div class="tap-target foreground" [@tapTargetForegroundState]="tapTargetState$ | async">
</div>
<div class="hint-text">
  <div class='mat-subheading-1'>Create a deck</div>
  <div class='mat-caption'>Click here to create your first deck of flash cards.</div>
</div>
