$app-accent-color: #3f51b5;
$app-background-color: #fafafa;

.tap-target {
  position: absolute;
  border-radius: 50%;
  display: flex;

  &.collapsed {
    pointer-events: none;
  }

  &.expanded {
    pointer-events: auto;
  }

  &.background {
    background-color: $app-accent-color;
    z-index: -2;
  }

  &.foreground {
    background-color: $app-background-color;
    z-index: -1;
  }
}

.hint-text {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-left: calc(-250px + 28px + 40px);
  margin-top: calc(2 * 28px + 20px);
  //right: calc(50% + 48px);
  //top: 76px;
  //left: 0;
  //text-align: left;
  //top: 128px;
  //z-index: -1;

  .mat-subheading-1 {
    margin: 0 0 8px 0;
  }

  .mat-caption {
    opacity: 0.5;
  }
}

.new-button-container {
  transform: translate3d(0, 0, 0);
}
