<div class="container">
  <cardinal-card-card
    *ngIf="(card$ | async) ? true : false"
    [card]='card$ | async'
    [showActions]='false'>
  </cardinal-card-card>
  <div class="responseContainer">
    <md-card>
      <md-card-title>
        How well did you remember this card?
      </md-card-title>
      <md-card-content>
        <md-radio-group class="responseGroup" (change)="onSelectGrade($event.value)" [ngModel]="selectedGrade$ | async" >
          <md-list>
            <md-list-item *ngFor="let grade of [0, 1, 2, 3, 4, 5]">
              <md-radio-button [value]="grade">{{getReviewText(grade)}}</md-radio-button>
            </md-list-item>
          </md-list>
        </md-radio-group>
      </md-card-content>
      <md-card-actions>
        <a md-button>Next</a>
      </md-card-actions>
    </md-card>
  </div>
</div>