.mat-sidenav-container {
  height: 100%;
  position: relative;
}

.mat-nav-list .mat-list-item {
  font-size: 14px;
  font-weight: 500;
}

md-sidenav {
  width: 200px;
}

md-nav-list > md-list-item {
  display: flex;
  flex-direction: column;
}

md-nav-list md-icon {
  width: 56px;
}

