md-sidenav-container {
  flex-grow: 1;
}

md-sidenav {
  width: 200px;
}

md-nav-list md-list-item {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 500;
}

md-nav-list md-icon {
  width: 56px;
}
