<md-toolbar color="primary" class="ng-material-nav-toolbar mat-elevation-z6">
  <a md-button class="ng-material-app-title" routerLink='/'>{{title}}</a>
  <span class="ng-material-flex-spacer"></span>
  <a disabled="{{isLoading$ | async}}" md-button routerLink='/'>Home</a>
  <div [ngSwitch]='authService.isLoggedIn$ | async'>
    <a
      *ngSwitchCase='false'
      disabled="{{isLoading$ | async}}"
      md-button
      routerLink='/sign-in'>
      Sign in
    </a>
    <a
      *ngSwitchCase='true'
      disabled="{{isLoading$ | async}}"
      md-button
      (click)='onSignOut()'>
      Sign out
    </a>
  </div>
</md-toolbar>