<md-card>
  <md-card-title>
    {{name$ | async}}
  </md-card-title>
  <md-card-subtitle>
    <span>{{count$ | async}}</span>
    <span [ngPlural]="(count$ | async) || ''" *ngIf="(count$ | async) !== null">
      <ng-template ngPluralCase="=1">card</ng-template>
      <ng-template ngPluralCase="other">cards</ng-template>
    </span>
  </md-card-subtitle>
  <md-card-content>
    <markdown data="{{description$ | async}}"></markdown>
  </md-card-content>
  <md-card-actions>
    <a md-button>Review</a>
    <a md-button routerLink='/deck/{{deck.deckId}}'>View</a>
    <a md-button (click)='this.onEdit()'>Edit</a>
    <a md-button (click)='this.onDelete()'>Delete</a>
  </md-card-actions>
</md-card>